.home {

  &__container {

    /* Manually added this bg image here because google drive image can't be displayed */
    background-image: url('./assets/hero.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: none;
    height: 424px;

    h1 {
      margin-bottom: 10px;
      text-shadow: 1px 1px 0px #504b4b;
    }

    p {
      color: #fff;
      font-size: 16px;
      margin-bottom: 20px;
      text-shadow: 1px 1px 0px #504b4b;
      width: 50%;
    }

    &--hero-content {
      text-align: left;
      margin-top: 80px;
      margin-left: 20px;
    }

    @media screen and (min-width: 768px) {

      max-height: 727px;
      height: 727px;

      h1 {
        margin-bottom: 10px;
      }

      p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        width: 100%;
      }

      &--hero-content {
        text-align: left;
        margin-left: 40px;
        margin-top: 145px;
      }
    }
  }
}